{% load staticfiles %}
{% load widget_tweaks %}
{% load bootstrap_tags %}
<html>
<head>
  <title>Grocious Merchandise</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  <style>
  .table tbody>tr>td.vert-align {
    vertical-align: middle;
  }
  .brand-name {
    margin-left: 2px;
    padding-left: 2px;
    border-left: 2px;
  }
  </style>
</head>
<body role="document">
  <nav class="navbar navbar-inverse">
    <div class="container container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/merchant/index/"><img alt="Brand" width="25" height="25" class="pull-left brand-icon" src="{% static 'carrito-best-md.png' %}" /><span class="brand-name">Grocious Merchandise</span></a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/merchant/create/"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="#" data-toggle="modal" data-target="#login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
  <div class="jumbotron">
    <h1>Welcome to Grocious MERCHANDISE!!</h1>
    <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
  </div>
</div>
<!--div class="modal fade" id="newMerchant" tabindex="-1" role="dialog" aria-labelledby="newMerchant" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
<h4 class="modal-title" id="merchantLabel1">Create Merchant</h4>
</div>
<div class="modal-body">
<div class="container-fluid">
{% if merchant_form %}
<form  role="form" action="/merchant/create/" method="POST" class="form-horizontal">{% csrf_token %}
{{ merchant_form | as_bootstrap }}
{{ address_form | as_bootstrap }}
<table class="table">
<th></th><td><input type="submit" value="Create" class="btn btn-primary"/></td>
</table>
</form>
{% endif %}
</div>
</div>
<div class="modal-footer">
<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>
</div>
</div>
</div-->
{{ message }}
<footer class="footer">
  <div class="container">
    <p class="text-muted">Copyright Grocious</p>
  </div>
</footer>
<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="Login" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="merchantLabel2">Login</h4>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <form role="form" action="/merchant/login/" method="POST" class="form-horizontal">{% csrf_token %}
            {{ login_form | as_bootstrap }}
            <table class="table">
              <th></th>
              <td><input type="submit" value="Login" class="btn btn-primary"/></td>
            </table>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</body>
</html>
