<div class="col-md-8" ng-if="!products || products == null"><h3>Your cart is empty !!</h3></div>
<div class="col-md-8" ng-if="products">
  <table class="table table-hover table-condensed cart-body">
      <tr class="well">
          <td class="col-md-8">PRODUCT</td>
          <td class="col-md-2">UNITS</td>
          <td class="col-md-2">SUBTOTAL</td>
      </tr>
      <tr ng-repeat="(productId, product) in products">
          <td class="col-md-8">
            <div class="col-md-4">
              <a href="">
                <img class="media-object" ng-src="/product/icon/{{productId}}" alt="64x64" data-holder-rendered="true" style="width: 64px; height: auto;">
              </a>
            </div>

            <div class="col-md-8">
              <p class="product-name"><a href="#/product/{{productId}}">{{product.name}}</a></p>
              <p class="">{{product.quantity}} {{product.unit}} for {{product.price | currency : "&#8377;"}}</p>
            </div>
          </td>
          <td class="col-md-3">
            <p ng-form name="cartForm">
              <input type="number" name="quantity" required min="1" max="10" ng-model="product.count" ng-init="product.count"/> x {{ product.quantity }} {{product.unit}}
            </p>
            <a href="" ng-click = "removeItem(productId, product.count)">
              <small>Delete</small>
            </a> |
            <a href="" ng-hide="cartForm.quantity.$invalid" ng-click = "updateItem(productId, product.count)">
              <small>Update</small>
            </a>
          </td>
          <td class="col-md-2 product-price">{{product.price * product.count | currency : "&#8377;"}}</td>
      </tr>
  </table>
  <div class="col-md-12 well cart-footer">
    <div>
      <h4><b>Total Price: </b> <span id="totalPrice" class="product-price">{{products | getTotalPrice: 0 | currency : "&#8377;"}}</span> </h4>
    </div>
    <div>
      <a class="btn btn-success" type="button" value="Clear Cart">Clear Cart</a>
      <a class="btn btn-success" type="button" value="Proceed to Checkout" href="#/checkout">Proceed to Checkout</a>
    </div>
  </div>
</div>
<div class="col-md-4"> People also bought these with _ _ _ _ _</div>
<div class="col-md-12">You can bring these with this product </div>
