<div class="product-detail col-md-12">
  <div class="product-image col-md-3">
    <img class="media-object" ng-src="/product/icon/{{product._id.$oid}}" alt="200x200" data-holder-rendered="true" style="width: 200px; height: auto;">
  </div>

  <div class="product-details col-md-6" ng-form name="productCartForm">
    <h4>{{product.name}}</h4>
    <p>{{product.desc}}</p>
    <h4 class="product-price">{{product.price | currency: "&#8377;"}}</h4>
    <p><input type="number" name="quantity" required min="1" max="10" step="none" ng-model="count" ng-init="count=1"/>
    <input ng-click="add(product._id.$oid,count)" ng-disabled ="productCartForm.quantity.$invalid" class="btn btn-success" type="button" value="Add To Cart"/></p>

    <div class="error-container" ng-show="productCartForm.quantity.$invalid">
      <small class="error" ng-show="productCartForm.quantity.$error.required || productCartForm.quantity.$invalid">
        Please enter a valid quantity.
      </small>
      <small class="error" ng-show="productCartForm.quantity.$error.min">
        Value should be greater than or equal to 1.
      </small>
      <small class="error" ng-show="productCartForm.quantity.$error.max">
        Value should be less than or equal to 10.
      </small>
  </div>
  </div>

  <div class="col-md-3">
    Some other feature
  </div>
</div>
