<script type="text/javascript">
    /*$('#shipping').change(function(){
        var shippingPrice = $('#shipping option:selected').data('status');
        $('#shippingPrice').html(shippingPrice);
        var cartPrice = parseFloat($('#cartPrice').val());
        var totalPrice = cartPrice + parseFloat(shippingPrice);
        $('#totalPrice').html(totalPrice);
    });

    (function(){
        var app = angular.module('grociousApp', []);
        app.controller('Shipping',function($scope){
            $scope.shippingOptions = {{ shipping_options }}
        });
    });*/

</script>
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel">My Cart - Cart Items</h4>
</div>
<div class="modal-body">
    <div class="row">
        {% if products %}
            <table class="table table-hover table-condensed">
                <tr>
                    <th>Product</th>
                    <th>Name</th>
                    <th>Units</th>
                    <th>Price</th>
                </tr>
                {% for product in products %}
                    <tr>
                        <td>
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object" data-src="holder.js/64x64" alt="64x64" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIHZpZXdCb3g9IjAgMCA2NCA2NCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PGRlZnMvPjxyZWN0IHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjEzLjQ2MDkzNzUiIHk9IjMyIiBzdHlsZT0iZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQ7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NjR4NjQ8L3RleHQ+PC9nPjwvc3ZnPg==" data-holder-rendered="true" style="width: 64px; height: 64px;">
                                </a>
                            </div>
                        </td>
                        <td>
                            <h4 class="media-heading">{{product.name}}</h4>
                            <h5>{{product.quantity}} {{product.unit}} for ${{product.price}}</h5>
                            <a href="/cart/delete/{{product.id}}"><small>delete</small></a>
                        </td>
                        <td>{{product.count}} {{product.unit}}{{ product.count|pluralize }}</td>
                        <td>${{product.total}}</td>
                    </tr>
                {% endfor %}
                    <!--tr>
                        <td></td>
                        <td>Shipping</td>
                        <td>
                            <div ng-controller="Test">
                                <select ng-model="selectedShippingOption">
                                    <option ng-repeat="option in shippingOptions" value="{{option.value}}" data-status="{{option.price}}">{{option.name}}</option>
                                </select>
                            </div>
                            <select class="form-control" id="shipping">
                                {% for entry in shipping_options %}
                                   <option value="{{entry.value}}" data-status="{{entry.price}}">{{entry.name}}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td>
                              $<span id="shippingPrice">0.00</span>
                        </td>
                    </tr-->
                    <tr>
                        <td></td>
                        <td>
                            <h4><b>Total Price</b></h4>
                        </td>
                        <td></td>
                        <input type="hidden" id="cartPrice" value="{{totalPrice}}"/>
                        <td><h4><b>$<span id="totalPrice">{{totalPrice}}</span></b></h4></td>
                    </tr>
            </table>
        {% else %}
            <div class="col-md-7 col-md-offset-1"><h3>Nothing in your cart!!</h3></div>
        {% endif %}
        </div>
    </div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    {% if products %}<a href="/cart/checkout/" class="btn btn-info" role="button">Proceed Checkout</a>{% endif %}
</div>
