{% load staticfiles %}
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>Grocious Cart Checkout</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
  <link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>
  <script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
  <style>
  .table tbody>tr>td.vert-align {
    vertical-align: middle;
  }
  .brand-name {
    margin-left: 2px;
    padding-left: 2px;
    border-left: 2px;
  }
  </style>
</head>
<body role="document">
  <nav class="navbar navbar-inverse">
    <div class="container container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#"><img alt="Brand" width="25" height="25" class="pull-left brand-icon" src="{% static 'carrito-best-md.png' %}" /><span class="brand-name">Grocious</span></a>
      </div>
      <div>
        <ul class="nav navbar-nav">
          <li><a href="/main/"><span class="glyphicon glyphicon-home"></span> Home</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="active"><a href="#" data-toggle="modal" data-target="#modal"><span class="glyphicon glyphicon-shopping-cart"></span> Cart</a></li>
          <li><a href="/logout/"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
        </ul>
        <p class="navbar-text navbar-right">Signed in as <a href="/myInfo/" class="navbar-link" data-toggle="modal" data-target="#modal2">{{uname}}</a></p>
      </div>
    </div>
  </nav>
  <div class="container container-fluid" ng-controller="StoreCtrl as store">
    <div class="row">
      {% if products %}
      <h3>Checkout your order</h3>
      {% if message %}
      <div class="alert alert-info alert-dismissible" id="message" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>{{message}}</strong>
      </div>
      {% endif %}
      <table class="table table-hover table-condensed">
        <tr>
          <th>Product</th>
          <th>Name</th>
          <th>Units</th>
          <th>Price</th>
        </tr>
        {% for product in products %}
        <tr>
          <td>
            <div class="media-left">
              <a href="#">
                <img class="media-object" data-src="holder.js/64x64" alt="64x64" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIHZpZXdCb3g9IjAgMCA2NCA2NCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PGRlZnMvPjxyZWN0IHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjEzLjQ2MDkzNzUiIHk9IjMyIiBzdHlsZT0iZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQ7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NjR4NjQ8L3RleHQ+PC9nPjwvc3ZnPg==" data-holder-rendered="true" style="width: 64px; height: 64px;">
              </a>
            </div>
          </td>
          <td>
            <h4 class="media-heading">{{product.name}}</h4>
            <h5>{{product.quantity}} {{product.unit}} for ${{product.price}}</h5>
            <a href="/cart/delete/{{product.id}}"><small>delete</small></a>
          </td>

          <td>
            <form action="/cart/update/{{product.id}}" method="GET" class="form-horizontal">{% csrf_token %}
              <input type="number" name="quantity"  min="1" max="10" value="{{ product.count }}" /> x {{ product.quantity }} {{product.unit}}{{ product.count|pluralize }}
              <br/><button type="submit" class="btn btn-link"><small>update</small></button>
            </form>
          </td>
          <td>${{product.total}}</td>
        </tr>
        {% endfor %}
        <tr>
          <td></td>
          <td></td>
          <td>
            <h4><b>Total Price</b></h4>
          </td>
          <input type="hidden" id="cartPrice" value="{{totalPrice}}"/>
          <td><h4><b>$<span id="totalPrice">{{totalPrice}}</span></b></h4></td>
        </tr>
      </table>
      {% else %}
      <div class="col-md-7 col-md-offset-1"><h3>Nothing in your cart!!</h3></div>
      {% endif %}
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="modal fade" id="modal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
          </div><!-- /.modal-content -->
        </div>
      </div>
    </div>
  </div>
  <footer class="footer">
    <div class="container">
      <p class="text-muted">Copyright Grocious</p>
    </div>
  </footer>
</body>
</html>
