{% load staticfiles %}
<html>
<head>
  <title>Main Page</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
  <link rel="icon" href="{% static 'carrito-best-md.png' %}">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="{% static 'lib/angular.js' %}"></script>
  <script type="text/javascript" src="{% static 'lib/angular-route.js'%}"></script>
  <script type="text/javascript" src="{% static 'lib/angular-payments.min.js' %}"></script>
  <link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>
  <script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
  <script type="text/javascript" src="{% static 'js/ext/jquery.toaster.js' %}"></script>

  <script type ="text/javascript" src="{% static 'js/app.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/controllers.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/filters.js' %}"></script>
  <link rel="stylesheet" href="{% static 'css/app.css' %}">
</head>
<body role="document" ng-app="grociousApp" ng-controller="HeaderCtrl">
  <nav class="navbar navbar-inverse">
    <div class="container container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#/main">
          <img alt="Brand" width="25" height="25" class="pull-left brand-icon" src="{% static 'carrito-best-md.png' %}" />
          <span class="brand-name">Grocious</span>
        </a>
      </div>
      <div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="#/main"><span class="glyphicon glyphicon-home"></span> Home</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="#/mycart" >
              <span class="glyphicon glyphicon-shopping-cart"></span> Cart
              {% verbatim %}
                <span class="badge">{{cartCount}}</span>
              {% endverbatim %}
            </a>
          </li>
          <li id="header-dropdown">
            <a href="/myInfo/" class="navbar-link" data-toggle="modal" data-target="#modal2">
              <span class="glyphicon glyphicon-cog"></span>
              {{uname}}
            </a>
            <ul>
              <li><a href="/myInfo/"><span class="glyphicon glyphicon-user"></span>&nbsp;Account</a></li>
              <li class="divider"></li>
              <li><a href="#/myOrders"><span class="glyphicon glyphicon-tasks"></span>&nbsp;Orders</a></li>
              <li class="divider"></li>
              <li><a href="/logout/"><span class="glyphicon glyphicon-log-out"></span>&nbsp;Logout</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div id="main-contents"  class="container container-fluid" ng-view></div>

  <div class="container-fluid">
    <div class="row">
      <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
          </div>
        </div>
      </div>
      <div class="modal fade" id="modal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer">
    <div class="container">
      <p class="text-muted" style="text-align:center">Copyright Grocious</p>
    </div>
  </footer>
  <div id="toaster" class="toaster" style="position: fixed; bottom: 10px; left: 10px; width: 400px; z-index: 50000;"></div>
  <script type="text/javascript">
  $(document).ready(function(){
    $('body').on('hidden.bs.modal', '.modal', function () {
      $(this).removeData('bs.modal');
    });

    $.toaster({ settings : { "timeout" : 5500 } });
  });
  </script>
</body>
</html>
